@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(../asset/fonts/chirp/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(../asset/fonts/chirp/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TwitterChirp;
  src: url(../asset/fonts/chirp/chirp-regular-web.woff2) format('woff2');
  src: url(../asset/fonts/chirp/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TwitterChirp;
  src: url(../asset/fonts/chirp/chirp-medium-web.woff2) format('woff2');
  src: url(../asset/fonts/chirp/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TwitterChirp;
  src: url(../asset/fonts/chirp/chirp-bold-web.woff2) format('woff2');
  src: url(../asset/fonts/chirp/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: TwitterChirp;
  src: url(../asset/fonts/chirp/chirp-heavy-web.woff2) format('woff2');
  src: url(../asset/fonts/chirp/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --doc-height: 100vh;
}

html {
  @apply font-TwitterChirp text-body dark:text-body-dark;
}

body {
  @apply dark:bg-black;
}

.height-screen {
  height: var(--doc-height);
}
